YellowstonePathology/DomainPersistence/Schema/AccessionOrderSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:ms="urn:schemas-microsoft-com:mapping-schema"
			xmlns:sql="urn:schemas-microsoft-com:xml-sql" id="InlineSchema" sql:is-mapping-schema="1">
	<xsd:annotation>
		<xsd:appinfo>
			<ms:relationship name="AccessionOrderSpecimenOrder"
							  parent="tblAccessionOrder"
							  parent-key="MasterAccessionNo"
							  child="tblSpecimenOrder"
							  child-key="MasterAccessionNo" />

			<ms:relationship name="SpecimenOrderAliquotOrder"
							  parent="tblSpecimenOrder"
							  parent-key="SpecimenOrderId"
							  child="tblAliquotOrder"
							  child-key="SpecimenOrderId" />

			<ms:relationship name="AccessionOrderPanelSetOrder"
							  parent="tblAccessionOrder"
							  parent-key="MasterAccessionNo"
							  child="tblPanelSetOrder"
							  child-key="MasterAccessionNo" />

			<ms:relationship name="PanelSetOrderPanelOrder"
							  parent="tblPanelSetOrder"
							  parent-key="ReportNo"
							  child="tblPanelOrder"
							  child-key="ReportNo" />

			<ms:relationship name="PanelSetOrderPanelSetResultOrder"
							  parent="tblPanelSetOrder"
							  parent-key="ReportNo"
							  child="tblPanelSetResultOrder"
							  child-key="ReportNo" />

			<ms:relationship name="PanelSetOrderAmendment"
							  parent="tblPanelSetOrder"
							  parent-key="ReportNo"
							  child="tblAmendment"
							  child-key="ReportNo" />

			<ms:relationship name="PanelSetOrderComment"
							  parent="tblPanelSetOrder"
							  parent-key="ReportNo"
							  child="tblPanelSetOrderComment"
							  child-key="ReportNo" />

			<ms:relationship name="PanelOrderTestOrder"
							  parent="tblPanelOrder"
							  parent-key="PanelOrderId"
							  child="tblTestOrder"
							  child-key="PanelOrderId" />

			<ms:relationship name="AccessionOrderReportDistribution"
							  parent="tblAccessionOrder"
							  parent-key="MasterAccessionNo"
							  child="tblReportDistribution"
							  child-key="MasterAccessionNo" />

			<ms:relationship name="AccessionOrderReportDistributionLog"
							  parent="tblAccessionOrder"
							  parent-key="MasterAccessionNo"
							  child="tblReportDistributionLog"
							  child-key="MasterAccessionNo" />

			<ms:relationship name="PanelSetResultOrderSurgicalResult"
							  parent="tblPanelSetResultOrder"
							  parent-key="PanelSetResultOrderId"
							  child="tblSurgicalResult"
							  child-key="PanelSetResultOrderId" />

			<ms:relationship name="SurgicalResultSurgicalSpecimenResult"
							  parent="tblSurgicalResult"
							  parent-key="SurgicalResultId"
							  child="tblSurgicalSpecimenResult"
							  child-key="SurgicalResultId" />

			<ms:relationship name="SurgicalSpecimenResultICResult"
							  parent="tblSurgicalSpecimenResult"
							  parent-key="SurgicalSpecimenResultId"
							  child="tblIntraoperativeConsultationResult"
							  child-key="SurgicalSpecimenResultId" />

			<ms:relationship name="SurgicalSpecimenResultStainResult"
							  parent="tblSurgicalSpecimenResult"
							  parent-key="SurgicalSpecimenResultId"
							  child="tblStainResult"
							  child-key="SurgicalSpecimenResultId" />

			<ms:relationship name="SurgicalSpecimenResultICD9BillingCodes"
							  parent="tblSurgicalSpecimenResult"
							  parent-key="SurgicalSpecimenResultId"
							  child="tblICD9BillingCodes"
							  child-key="SurgicalSpecimenResultId" />

			<ms:relationship name="SurgicalSpecimenResultCPTBillingCode"
							  parent="tblSurgicalSpecimenResult"
							  parent-key="SurgicalSpecimenResultId"
							  child="tblCptBillingCode"
							  child-key="SurgicalSpecimenResultId" />

			<ms:relationship name="SurgicalResultSurgicalResultAudit"
							  parent="tblSurgicalResult"
							  parent-key="SurgicalResultId"
							  child="tblSurgicalResultAudit"
							  child-key="SurgicalResultId" />

			<ms:relationship name="SurgicalResultAuditSurgicalSpecimenResultAudit"
							  parent="tblSurgicalResultAudit"
							  parent-key="SurgicalResultAuditId"
							  child="tblSurgicalSpecimenResultAudit"
							  child-key="SurgicalResultAuditId" />

			<ms:relationship name="PanelSetResultHer2Result"
							  parent="tblPanelSetResultOrder"
							  parent-key="PanelSetResultOrderId"
							  child="tblHer2Result"
							  child-key="PanelSetResultOrderId" />

			<ms:relationship name="PanelSetResultFishResult"
							  parent="tblPanelSetResultOrder"
							  parent-key="PanelSetResultOrderId"
							  child="tblFishResult"
							  child-key="PanelSetResultOrderId" />

			<ms:relationship name="SpecimenOrderTestOrder"
							  parent="tblSpecimenOrder"
							  parent-key="SpecimenOrderId"
							  child="tblTestSpecimenOrder"
							  child-key="SpecimenOrderId" />
		</xsd:appinfo>
	</xsd:annotation>

	<xsd:element name="AccessionOrder" type="AccessionOrderType" ms:relation="tblAccessionOrder" ms:key-fields="MasterAccessionNo" />
	<xsd:complexType name="AccessionOrderType">
		<xsd:sequence>
			<xsd:element name="MasterAccessionNo" ms:identity="ignore" type="xsd:string"></xsd:element>
			<xsd:element name="AccessionDate" type="xsd:dateTime" ms:datatype="dateTime" nillable="true"></xsd:element>
			<xsd:element name="AccessionTime" type="xsd:dateTime" ms:datatype="dateTime" nillable="true"></xsd:element>
			<xsd:element name="PatientId" type="xsd:string"></xsd:element>
			<xsd:element name="PFirstName" type="xsd:string"></xsd:element>
			<xsd:element name="PLastName" type="xsd:string"></xsd:element>
			<xsd:element name="PMiddleInitial" type="xsd:string"></xsd:element>
			<xsd:element name="PSSN" type="xsd:string" nillable="true"></xsd:element>
			<xsd:element name="PSex" type="xsd:string"></xsd:element>
			<xsd:element name="PBirthdate" type="xsd:dateTime" ms:datatype="dateTime" nillable="true"></xsd:element>
			<xsd:element name="PAddress1" type="xsd:string"></xsd:element>
			<xsd:element name="PAddress2" type="xsd:string"></xsd:element>
			<xsd:element name="PCity" type="xsd:string"></xsd:element>
			<xsd:element name="PState" type="xsd:string"></xsd:element>
			<xsd:element name="PZipCode" type="xsd:string"></xsd:element>
			<xsd:element name="PRace" type="xsd:string"></xsd:element>
			<xsd:element name="PPhoneNumberHome" type="xsd:string"></xsd:element>
			<xsd:element name="PPhoneNumberBusiness" type="xsd:string"></xsd:element>
			<xsd:element name="PMaritalStatus" type="xsd:string"></xsd:element>
			<xsd:element name="PCAN" type="xsd:string"></xsd:element>
			<xsd:element name="ClientId" type="xsd:int"></xsd:element>
			<xsd:element name="ClientName" type="xsd:string" ></xsd:element>
			<xsd:element name="PhysicianId" type="xsd:int"></xsd:element>
			<xsd:element name="PhysicianName" type="xsd:string"></xsd:element>
			<xsd:element name="SvhAccount" type="xsd:string"></xsd:element>
			<xsd:element name="SvhMedicalRecord" type="xsd:string"></xsd:element>
			<xsd:element name="PatientType" type="xsd:string"></xsd:element>
			<xsd:element name="PrimaryInsurance" type="xsd:string"></xsd:element>
			<xsd:element name="SecondaryInsurance" type="xsd:string"></xsd:element>
			<xsd:element name="ColorCode" type="xsd:string"></xsd:element>
			<xsd:element name="PSuffix" type="xsd:string"></xsd:element>
			<xsd:element name="ClientOrderId" type="xsd:string"></xsd:element>
			<xsd:element name="Accessioned" type="xsd:boolean"></xsd:element>
			<xsd:element name="SpecimenLogId" type="xsd:int"></xsd:element>
			<xsd:element name="LoggedById" type="xsd:int"></xsd:element>
			<xsd:element name="AccessionedById" type="xsd:int"></xsd:element>
			<xsd:element name="RequisitionVerified" type="xsd:boolean"></xsd:element>
			<xsd:element name="CollectionDate" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
			<xsd:element name="CollectionTime" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
			<xsd:element name="SurgicalAccessionNo" type="xsd:string" />
			<xsd:element name="CytologyAccessionNo" type="xsd:string" />
			<xsd:element name="CaseOrigination" type="xsd:string" />
			<xsd:element name="OrderCancelled" type="xsd:boolean" />
			<xsd:element name="ExternalOrderId" type="xsd:string" />						
			<xsd:element name="OrderInstructions" type="xsd:string" ms:datatype="xml" nillable="true" />            
			<xsd:element name="CurrentClientFixation" type="xsd:string" />
			<xsd:element name="CurrentLabFixation" type="xsd:string" />
			<xsd:element name="Verified" type="xsd:boolean" />
			<xsd:element name="VerifiedById" type="xsd:int" />
			<xsd:element name="VerifiedDate" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
			<xsd:element name="IncomingHL7" type="xsd:string" />
			<xsd:element name="BillingData" type="xsd:string" />
			<xsd:element name="OrderedByFirstName" type="xsd:string" />
			<xsd:element name="OrderedByLastName" type="xsd:string" />
			<xsd:element name="OrderedById" type="xsd:string" />
			<xsd:element name="ProviderFirstName" type="xsd:string" />
			<xsd:element name="ProviderLastName" type="xsd:string" />
			<xsd:element name="ProviderId" type="xsd:string" />
			<xsd:element name="InsurancePlan1" type="xsd:string" />
			<xsd:element name="InsurancePlan2" type="xsd:string" />
			<xsd:element name="Finalized" type="xsd:boolean" />
			<xsd:element name="FinalizedById" type="xsd:int" />
			<xsd:element name="FinalizedDate" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
			<xsd:element name="RequiresBlindVerification" type="xsd:boolean" />
			<xsd:element name="SystemInitiatingOrder" type="xsd:string" />
			<xsd:element name="ClinicalHistory" type="xsd:string" />
      <xsd:element name="AccessioningFacilityId" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="SpecimenOrderCollectionType">
		<xsd:sequence>
			<xsd:element name="SpecimenOrder" type="SpecimenOrderType" ms:relation="tblSpecimenOrder" ms:relationship="AccessionOrderSpecimenOrder" ms:key-fields="SpecimenOrderId"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="SpecimenOrder" type="SpecimenOrderType" ms:relation="tblSpecimenOrder" ms:key-fields="SpecimenOrderId" />
	<xsd:complexType name="SpecimenOrderType">
		<xsd:sequence>
			<xsd:element name="SpecimenOrderId" type="xsd:string"/>
			<xsd:element name="SpecimenType" type="xsd:string" />
			<xsd:element name="CollectionDate" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
			<xsd:element name="CollectionTime" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
			<xsd:element name="SpecimenSite" type="xsd:string" />
			<xsd:element name="FixationType" type="xsd:string" />
			<xsd:element name="FixationStartTime" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
			<xsd:element name="FixationEndTime" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
			<xsd:element name="Description" type="xsd:string" />
			<xsd:element name="AliquotRequestCount" type="xsd:int" />
			<xsd:element name="AccessionTime" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
			<xsd:element name="ClientFixation" type="xsd:string" />
			<xsd:element name="LabFixation" type="xsd:string" />
			<xsd:element name="CollectionTimeUnknown" type="xsd:boolean" />
			<xsd:element name="ExactFixationStartTimeUnknown" type="xsd:boolean" />
			<xsd:element name="MasterAccessionNo" type="xsd:string" />
			<xsd:element name="FixationComment" type="xsd:string" />
			<xsd:element name="SpecimenNumber" type="xsd:int" />
			<xsd:element name="Accepted" type="xsd:boolean" />
			<xsd:element name="SpecialInstructions" type="xsd:string" />
			<xsd:element name="ContainerId" type="xsd:string" />
			<xsd:element name="Verified" type="xsd:boolean" />
			<xsd:element name="VerifiedById" type="xsd:int" />
			<xsd:element name="VerifiedDate" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
			<xsd:element name="RequiresBlindVerification" type="xsd:boolean" />
			<xsd:element name="SystemInitiatingOrder" type="xsd:string" />
			<xsd:element name="SpecimenSource" type="xsd:string" />
			<xsd:element name="DateReceived" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
			<xsd:element name="SpecimenAdequacy" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="AliquotOrderCollectionType">
		<xsd:sequence>
			<xsd:element name="AliquotOrder" type="AliquotOrderType" ms:relation="tblAliquotOrder" ms:relationship="SpecimenOrderAliquotOrder" ms:key-fields="AliquotOrderId" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="AliquotOrder" type="AliquotOrderType" ms:relation="tblAliquotOrder" ms:key-fields="AliquotOrderId" />
	<xsd:complexType name="AliquotOrderType">
		<xsd:sequence>
			<xsd:element name="AliquotOrderId" type="xsd:string" />
			<xsd:element name="SpecimenOrderId" type="xsd:string" />
			<xsd:element name="AliquotType" type="xsd:string" />
			<xsd:element name="Description" type="xsd:string" />			
			<xsd:element name="Label" type="xsd:string" />
			<xsd:element name="LabelPrefix" type="xsd:string" />
			<xsd:element name="GrossVerified" type="xsd:boolean" />
			<xsd:element name="GrossVerifiedById" type="xsd:int" />
			<xsd:element name="GrossVerifiedDate" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
			<xsd:element name="Printed" type="xsd:boolean" />
      <xsd:element name="LabelType" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="TestSpecimenOrderListType">
		<xsd:sequence>
			<xsd:element name="TestSpecimenOrderItem" type="TestSpecimenOrderItemType" ms:is-constant="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="TestSpecimenOrderItem" type="TestSpecimenOrderItemType" ms:is-constant="1" />
	<xsd:complexType name="TestSpecimenOrderItemType">
		<xsd:sequence>
			<xsd:element name="TestSpecimenOrderId" type="xsd:int" />
			<xsd:element name="TestOrderId" type="xsd:string" />
			<xsd:element name="SpecimenOrderId" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="TestOrderItemListType">
		<xsd:sequence>
			<xsd:element name="TestOrderListItem" type="TestOrderListItemType" ms:is-constant="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="TestOrderListItem" type="TestOrderListItemType" ms:is-constant="1" />
	<xsd:complexType name="TestOrderListItemType">
		<xsd:sequence>
			<xsd:element name="TestOrderId" type="xsd:string" />
			<xsd:element name="AliquotOrderId" type="xsd:string" />
			<xsd:element name="TestId" type="xsd:int" />
			<xsd:element name="TestName" type="xsd:string" />
			<xsd:element name="OrderedBy" type="xsd:string" />      
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="TestAliquotOrderCollectionType">
		<xsd:sequence>
			<xsd:element name="TestAliquotOrderItem" type="TestAliquotOrderItemType" ms:relation="tblTestAliquotOrder" ms:key-fields="TestAliquotOrderId"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="TestAliquotOrderItem" type="TestAliquotOrderItemType" ms:relation="tblTestAliquotOrder" ms:key-fields="TestAliquotOrderId" />
	<xsd:complexType name="TestAliquotOrderItemType">
		<xsd:sequence>
			<xsd:element name="TestAliquotOrderId" type="xsd:string" />
			<xsd:element name="TestOrderId" type="xsd:string" />
			<xsd:element name="AliquotOrderId" type="xsd:string" />
      <xsd:element name="LabelType" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="PanelSetOrderCollectionType">
		<xsd:sequence>
			<xsd:element name="PanelSetOrder" type="PanelSetOrderType" ms:relation="tblPanelSetOrder" ms:relationship="AccessionOrderPanelSetOrder" ms:key-fields="ReportNo"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="PanelSetOrder" type="PanelSetOrderType" ms:relation="tblPanelSetOrder" ms:key-fields="ReportNo" />
	<xsd:complexType name="PanelSetOrderType">
		<xsd:sequence>
			<xsd:element name="ReportNo" type="xsd:string" />
			<xsd:element name="PanelSetId" type="xsd:int" />
			<xsd:element name="PanelSetName" type="xsd:string" />
			<xsd:element name="FinaledById" type="xsd:int" />
			<xsd:element name="Final" type="xsd:boolean" />
			<xsd:element name="FinalDate" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
			<xsd:element name="FinalTime" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
      <xsd:element name="AcceptedById" type="xsd:int" />
      <xsd:element name="Accepted" type="xsd:boolean" />
      <xsd:element name="AcceptedDate" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
      <xsd:element name="AcceptedTime" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
			<xsd:element name="OrderedById" type="xsd:int" />
			<xsd:element name="OrderDate" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
			<xsd:element name="OrderTime" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
			<xsd:element name="Signature" type="xsd:string" />
			<xsd:element name="AssignedToId" type="xsd:int" />
			<xsd:element name="TemplateId" type="xsd:int" />
			<xsd:element name="MasterAccessionNo" type="xsd:string" />
			<xsd:element name="OriginatingLocation" type="xsd:string" />
			<xsd:element name="Audit" type="xsd:boolean" />
			<xsd:element name="BillingAudit" type="xsd:boolean" />
			<xsd:element name="SignatureAudit" type="xsd:boolean" />
			<xsd:element name="ResultDocumentSource" type="xsd:string" />
			<xsd:element name="ResultDocumentPath" type="xsd:string" />
			<xsd:element name="Published" type="xsd:boolean" />
			<xsd:element name="DateLastPublished" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
			<xsd:element name="TechnicalComponentFacilityId" type="xsd:string" />
			<xsd:element name="HasTechnicalComponent" type="xsd:boolean" />
			<xsd:element name="ProfessionalComponentFacilityId" type="xsd:string" />
			<xsd:element name="HasProfessionalComponent" type="xsd:boolean" />
			<xsd:element name="AuditedById" type="xsd:int" />
			<xsd:element name="AuditDate" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="PanelOrderCollectionType">
		<xsd:sequence>
			<xsd:element name="PanelOrder" type="PanelOrderType" ms:relation="tblPanelOrder" ms:relationship="PanelSetOrderPanelOrder" ms:key-fields="PanelOrderId"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="PanelOrder" type="PanelOrderType" ms:relation="tblPanelOrder" ms:key-fields="PanelOrderId" />
	<xsd:complexType name="PanelOrderType">
		<xsd:sequence>
			<xsd:element name="PanelOrderId" type="xsd:string" />
			<xsd:element name="ReportNo" type="xsd:string" />
			<xsd:element name="PanelId" type="xsd:int" />
			<xsd:element name="PanelName" type="xsd:string" />
			<xsd:element name="PanelOrderBatchId" type="xsd:int" />
			<xsd:element name="Acknowledged" type="xsd:boolean" />
			<xsd:element name="AcknowledgedDate" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
			<xsd:element name="AcknowledgedTime" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
			<xsd:element name="AcceptedById" type="xsd:int" />
			<xsd:element name="Accepted" type="xsd:boolean" />
			<xsd:element name="AcceptedDate" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
			<xsd:element name="AcceptedTime" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
			<xsd:element name="AcknowledgedById" type="xsd:int" />
			<xsd:element name="OrderedById" type="xsd:int" />
			<xsd:element name="OrderDate" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
			<xsd:element name="OrderTime" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
			<xsd:element name="Comment" type="xsd:string" />
			<xsd:element name="AssignedToId" type="xsd:int" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="TestOrderCollectionType">
		<xsd:sequence>
			<xsd:element name="TestOrder" type="TestOrderType" ms:relation="tblTestOrder" ms:relationship="PanelOrderTestOrder" ms:key-fields="TestOrderId"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="TestOrder" type="TestOrderType" ms:relation="tblTestOrder" ms:key-fields="TestOrderId" />
	<xsd:complexType name="TestOrderType">
		<xsd:sequence>
			<xsd:element name="TestOrderId" type="xsd:string" />
			<xsd:element name="PanelOrderId" type="xsd:string" />
			<xsd:element name="TestId" type="xsd:int" />
			<xsd:element name="TestName" type="xsd:string" />
			<xsd:element name="Result" type="xsd:string" />
			<xsd:element name="Comment" type="xsd:string" />
			<xsd:element name="OrderedAsDual" type="xsd:boolean" />
			<xsd:element name="NoCharge" type="xsd:boolean" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="AliquotOrderItemListType">
		<xsd:sequence>
			<xsd:element name="AliquotOrderListItem" type="AliquotOrderListItemType" ms:is-constant="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="AliquotOrderListItem" type="AliquotOrderListItemType" ms:is-constant="1" />

	<xsd:complexType name="PanelSetResultOrderItemCollectionType">
		<xsd:sequence>
			<xsd:element name="PanelSetResultOrderItem" type="PanelSetResultOrderItemType" ms:relation="tblPanelSetResultOrder" ms:relationship="PanelSetOrderPanelSetResultOrder" ms:key-fields="PanelSetResultOrderId" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="PanelSetResultOrderItem" type="PanelSetResultOrderItemType" ms:relation="tblPanelSetResultOrder" ms:relationship="PanelSetOrderPanelSetResultOrder" ms:key-fields="PanelSetResultOrderId" />
	<xsd:complexType name="PanelSetResultOrderItemType">
		<xsd:sequence>
			<xsd:element name="PanelSetResultOrderId" type="xsd:string" />
			<xsd:element name="TestId" type="xsd:int" />
			<xsd:element name="TestName" type="xsd:string" />
			<xsd:element name="Result" type="xsd:string" />
			<xsd:element name="ReportNo" type="xsd:string" />
			<xsd:element name="SurgicalResultItem" nillable="true" type="SurgicalResultItemType" ms:relation="tblSurgicalResult" ms:relationship="PanelSetResultOrderSurgicalResult" ms:key-fields="SurgicalResultId" />
			<xsd:element name="Her2Result" nillable="true" type="Her2ResultType" ms:relation="tblHer2Result" ms:relationship="PanelSetResultHer2Result" ms:key-fields="Her2ResultId" />
			<xsd:element name="FishResultItem" nillable="true" type="FishResultItemType" ms:relation="tblFishResult" ms:relationship="PanelSetResultFishResult" ms:key-fields="ReportNo" />				
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="AmendmentItemCollectionType">
		<xsd:sequence>
			<xsd:element name="AmendmentItem" type="AmendmentItemType" ms:relation="tblAmendment" ms:relationship="PanelSetOrderAmendment" ms:key-fields="AmendmentId" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="AmendmentItem" type="AmendmentItemType" ms:relation="tblAmendment" ms:relationship="PanelSetOrderAmendment" ms:key-fields="AmendmentId" />
	<xsd:complexType name="AmendmentItemType">
		<xsd:sequence>
			<xsd:element name="AmendmentId" type="xsd:string" />
			<xsd:element name="RequirePathologistSignature" type="xsd:boolean" />
			<xsd:element name="ShowPreviousDiagnosis" type="xsd:boolean" />
			<xsd:element name="Final" type="xsd:boolean" />
			<xsd:element name="IsDistributed" type="xsd:boolean" />
			<xsd:element name="DistributeOnFinal" type="xsd:boolean" />
			<xsd:element name="ShowAmendmentOnReport" type="xsd:boolean" />
			<xsd:element name="RevisedDiagnosis" type="xsd:boolean" />
			<xsd:element name="AmendmentDate" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
			<xsd:element name="AmendmentTime" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
			<xsd:element name="FinalDate" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
			<xsd:element name="FinalTime" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
			<xsd:element name="UserId" type="xsd:int" />
			<xsd:element name="ReportNo" type="xsd:string" />
			<xsd:element name="Amendment" type="xsd:string" />
			<xsd:element name="AmendmentType" type="xsd:string" />
			<xsd:element name="PathologistSignature" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="PanelSetOrderCommentCollectionType">
		<xsd:sequence>
			<xsd:element name="PanelSetOrderComment" type="PanelSetOrderCommentType" ms:relation="tblPanelSetOrderComment" ms:relationship="PanelSetOrderComment" ms:key-fields="PanelSetOrderCommentId" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="PanelSetOrderComment" type="PanelSetOrderCommentType" ms:relation="tblPanelSetOrderComment" ms:relationship="PanelSetOrderComment" ms:key-fields="PanelSetOrderCommentId" />
	<xsd:complexType name="PanelSetOrderCommentType">
		<xsd:sequence>
			<xsd:element name="PanelSetOrderCommentId" type="xsd:string" />
			<xsd:element name="ReportNo" type="xsd:string" />
			<xsd:element name="DocumentCommentId" type="xsd:int" />
			<xsd:element name="CommentName" type="xsd:string" />
			<xsd:element name="PlaceHolder" type="xsd:string" />
			<xsd:element name="Comment" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ReportDistributionItemCollectionType">
		<xsd:sequence>
			<xsd:element name="ReportDistributionItem" type="ReportDistributionItemType" ms:relation="tblReportDistribution" ms:relationship="AccessionOrderReportDistribution" ms:key-fields="ReportDistributionId" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ReportDistributionItem" type="ReportDistributionItemType" ms:relation="tblReportDistribution" ms:key-fields="ReportDistributionId" />
	<xsd:complexType name="ReportDistributionItemType">
		<xsd:sequence>
			<xsd:element name="ReportDistributionId" type="xsd:string"/>
			<xsd:element name="ReportNo" type="xsd:string" />
			<xsd:element name="MasterAccessionNo" type="xsd:string" />
			<xsd:element name="PhysicianId" type="xsd:int" />
			<xsd:element name="ClientId" type="xsd:int" />
			<xsd:element name="PhysicianName" type="xsd:string" />
			<xsd:element name="ClientName" type="xsd:string" />
			<xsd:element name="DistributionType" type="xsd:int" />
			<xsd:element name="DateEntered" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ReportDistributionLogItemCollectionType">
		<xsd:sequence>
			<xsd:element name="ReportDistributionLogItem" type="ReportDistributionLogItemType" ms:relation="tblReportDistributionLog" ms:relationship="AccessionOrderReportDistributionLog" ms:key-fields="ReportDistributionId" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="ReportDistributionLogItem" type="ReportDistributionLogItemType" ms:relation="tblReportDistributionLog" ms:relationship="AccessionOrderReportDistributionLog" ms:key-fields="ReportDistributionLogId" />
	<xsd:complexType name="ReportDistributionLogItemType">
		<xsd:sequence>
			<xsd:element name="ReportDistributionLogId" type="xsd:string"/>
			<xsd:element name="ReportDistributionId" type="xsd:string" />
			<xsd:element name="ReportNo" type="xsd:string" />
			<xsd:element name="MasterAccessionNo" type="xsd:string" />
			<xsd:element name="AmendmentId" type="xsd:string" />
			<xsd:element name="AddendumId" type="xsd:int" />
			<xsd:element name="Published" type="xsd:int" />
			<xsd:element name="DatePublished" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
			<xsd:element name="DateDistributed" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
			<xsd:element name="CaseDistributed" type="xsd:boolean"/>
			<xsd:element name="DateEntered" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
			<xsd:element name="DateCompleted" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
			<xsd:element name="Comment" type="xsd:string" />
			<xsd:element name="PhysicianId" type="xsd:int" />
			<xsd:element name="ClientId" type="xsd:int" />
			<xsd:element name="PhysicianName" type="xsd:string" />
			<xsd:element name="ClientName" type="xsd:string" />
			<xsd:element name="DistributionType" type="xsd:int" />
			<xsd:element name="FaxNumber" type="xsd:string" />
			<xsd:element name="LongDistance" type="xsd:boolean" />
			<xsd:element name="TifCreated" type="xsd:boolean" />
			<xsd:element name="DateTifCreated" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
			<xsd:element name="SubmittedForDistribution" type="xsd:boolean" />
			<xsd:element name="DateSubmittedForDistribution" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
			<xsd:element name="ErrorInDistribution" type="xsd:boolean" />
			<xsd:element name="DistributeImmediately" type="xsd:boolean" />
			<xsd:element name="FaxJobId" type="xsd:string" />
			<xsd:element name="FaxCopiedBack" type="xsd:boolean" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="SurgicalResultItem" type="SurgicalResultItemType" ms:relation="tblSurgicalResult" ms:key-fields="SurgicalResultId" />
	<xsd:complexType name="SurgicalResultItemType">
		<xsd:sequence>
			<xsd:element name="SurgicalResultId" type="xsd:string" />
			<xsd:element name="PanelSetResultOrderId" type="xsd:string" />
			<xsd:element name="Final" type="xsd:boolean" />
			<xsd:element name="Published" type="xsd:boolean" />
			<xsd:element name="TypingFinal" type="xsd:boolean" />
			<xsd:element name="PapCorrelationRequired" type="xsd:boolean" />
			<xsd:element name="ReportableCase" type="xsd:boolean" />
			<xsd:element name="PQRIRequired" type="xsd:boolean" />
			<xsd:element name="FinalDate" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
			<xsd:element name="FinalTime" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
			<xsd:element name="PublishedTime" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
			<xsd:element name="TypingFinalDate" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
			<xsd:element name="TypingFinalTime" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
			<xsd:element name="PhysicianId" type="xsd:int" />
			<xsd:element name="TypedById" type="xsd:int" />
			<xsd:element name="ImmediateCorrelation" type="xsd:int" />
			<xsd:element name="PapCorrelation" type="xsd:int" />
			<xsd:element name="PQRIInstructions" type="xsd:int" />
			<xsd:element name="ClinicalInfo" type="xsd:string" ms:datatype="ntext" />
			<xsd:element name="GrossX" type="xsd:string" ms:datatype="ntext" />
			<xsd:element name="ImmediateX" type="xsd:string" ms:datatype="ntext" />
			<xsd:element name="MicroscopicX" type="xsd:string" ms:datatype="ntext" />
			<xsd:element name="Comment" type="xsd:string" ms:datatype="ntext" />
			<xsd:element name="CancerSummary" type="xsd:string" ms:datatype="ntext" />
			<xsd:element name="Status" type="xsd:string" />
			<xsd:element name="CaseType" type="xsd:string" />
			<xsd:element name="TypedBy" type="xsd:string" />
			<xsd:element name="ImmunoComment" type="xsd:string" />
			<xsd:element name="LocumPerformedForInitials" type="xsd:string" />
			<xsd:element name="AJCCStage" type="xsd:string" />
			<xsd:element name="ImmediateCorrelationComment" type="xsd:string" />
			<xsd:element name="PapCorrelationComment" type="xsd:string" />
			<xsd:element name="PapCorrelationAccessionNo" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="SurgicalSpecimenResultItemCollectionType">
		<xsd:sequence>
			<xsd:element name="SurgicalSpecimenResultItem" type="SurgicalSpecimenResultItemType" ms:relation="tblSurgicalSpecimenResult" ms:relationship="SurgicalResultSurgicalSpecimenResult" ms:key-fields="SurgicalSpecimenResultId" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="SurgicalSpecimenResultItem" type="SurgicalSpecimenResultItemType" ms:relation="tblSurgicalSpecimenResult" ms:key-fields="SurgicalSpecimenResultId" />
	<xsd:complexType name="SurgicalSpecimenResultItemType">
		<xsd:sequence>
			<xsd:element name="SurgicalSpecimenResultId" type="xsd:string" />
			<xsd:element name="SurgicalResultId" type="xsd:string" />
			<xsd:element name="Report" type="xsd:boolean" />
			<xsd:element name="ImmediatePerformed" type="xsd:boolean" />
			<xsd:element name="ImmediateStartTime" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
			<xsd:element name="ImmediateEndTime" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
			<xsd:element name="SpecimenOrderId" type="xsd:string" />
			<xsd:element name="DiagnosisId" type="xsd:int" />
			<xsd:element name="ImmediateCorrelation" type="xsd:int" />
			<xsd:element name="ImmediatePerformedById" type="xsd:int" />
			<xsd:element name="Diagnosis" type="xsd:string" ms:datatype="ntext" />
			<xsd:element name="SpecimenType" type="xsd:string" />
			<xsd:element name="RescreenStatus" type="xsd:string" />
			<xsd:element name="ImmediatePerformedBy" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="IntraoperativeConsultationResultItemCollectionType">
		<xsd:sequence>
			<xsd:element name="IntraoperativeConsultationResultItem" type="IntraoperativeConsultationResultItemType" ms:relation="tblIntraoperativeConsultationResult" ms:relationship="SurgicalSpecimenResultICResult" ms:key-fields="IntraoperativeConsultationResultId" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="IntraoperativeConsultationResultItem" type="IntraoperativeConsultationResultItemType" ms:relation="tblIntraoperativeConsultationResult" ms:key-fields="IntraoperativeConsultationResultId" />
	<xsd:complexType name="IntraoperativeConsultationResultItemType">
		<xsd:sequence>
			<xsd:element name="IntraoperativeConsultationResultId" type="xsd:string" />
			<xsd:element name="SurgicalSpecimenResultId" type="xsd:string" />
			<xsd:element name="StartDate" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
			<xsd:element name="EndDate" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
			<xsd:element name="TestOrderId" type="xsd:string" />
			<xsd:element name="PerformedById" type="xsd:int" />
			<xsd:element name="Result" type="xsd:string" />
			<xsd:element name="Correlation" type="xsd:string" />
			<xsd:element name="CorrelationDiscrepancyType" type="xsd:string" />
			<xsd:element name="CorrelationAffectsPatientCare" type="xsd:boolean" /> <!--To be removed-->
			<xsd:element name="CorrelationEffectOnPatientCare" type="xsd:string" />
			<xsd:element name="CallbackContact" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="StainResultItemCollectionType">
		<xsd:sequence>
			<xsd:element name="StainResultItem" type="StainResultItemType" ms:relation="tblStainResult" ms:relationship="SurgicalSpecimenResultStainResult" ms:key-fields="StainResultId" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="StainResultItem" type="StainResultItemType" ms:relation="tblStainResult" ms:key-fields="StainResultId" />
	<xsd:complexType name="StainResultItemType">
		<xsd:sequence>
			<xsd:element name="StainResultId" type="xsd:string" />
			<xsd:element name="SurgicalSpecimenResultId" type="xsd:string" />
			<xsd:element name="Billable" type="xsd:boolean" />
			<xsd:element name="Reportable" type="xsd:boolean" />
			<xsd:element name="TestOrderId" type="xsd:string" />
			<xsd:element name="Result" type="xsd:string" />
			<xsd:element name="ProcedureName" type="xsd:string" />
			<xsd:element name="ProcedureComment" type="xsd:string" />
			<xsd:element name="ReportComment" type="xsd:string" />
			<xsd:element name="ControlComment" type="xsd:string" />
			<xsd:element name="CptCode" type="xsd:string" />
			<xsd:element name="CptCodeQuantity" type="xsd:int" />
			<xsd:element name="ImmunoComment" type="xsd:string" />
			<xsd:element name="ImmunoCommentRptSeq" type="xsd:int" />
			<xsd:element name="StainType" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ICD9BillingCodeCollectionType">
		<xsd:sequence>
			<xsd:element name="ICD9BillingCode" type="ICD9BillingCodeType" ms:relation="tblICD9BillingCode" ms:relationship="SurgicalSpecimenResultICD9BillingCodes" ms:key-fields="Icd9BillingId" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="ICD9BillingCode" type="ICD9BillingCodeType" ms:relation="tblICD9BillingCodes" ms:key-fields="Icd9BillingId" />
	<xsd:complexType name="ICD9BillingCodeType">
		<xsd:sequence>
			<xsd:element name="Icd9BillingId" type="xsd:string" />
			<xsd:element name="SpecimenOrderId" type="xsd:string" />
			<xsd:element name="SurgicalSpecimenResultId" type="xsd:string" />
			<xsd:element name="BillingDate" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
			<xsd:element name="ModifiedDate" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
			<xsd:element name="Quantity" type="xsd:int" />
			<xsd:element name="SpecimenId" type="xsd:int" />
			<xsd:element name="UserId" type="xsd:int" />
			<xsd:element name="Icd9Code" type="xsd:string" />
			<xsd:element name="ReportNo" type="xsd:string" />
			<xsd:element name="SpecimenLogId" type="xsd:int" />
			<xsd:element name="MasterAccessionNo" type="xsd:string" />			
			<xsd:element name="DesignatedFor" type="xsd:string" />
      <xsd:element name="Source" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="CptBillingCodeItemCollectionType">
		<xsd:sequence>
			<xsd:element name="CptBillingCodeItem" type="CptBillingCodeItemType" ms:relation="tblCptBillingCode" ms:relationship="SurgicalSpecimenResultCPTBillingCode" ms:key-fields="CptBillingId" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="CptBillingCodeItem" type="CptBillingCodeItemType" ms:relation="tblCptBillingCode" ms:key-fields="CptBillingId" />
	<xsd:complexType name="CptBillingCodeItemType">
		<xsd:sequence>
			<xsd:element name="CptBillingId" type="xsd:string" />
			<xsd:element name="ReportNo" type="xsd:string" />
			<xsd:element name="MasterAccessionNo" type="xsd:string" />
			<xsd:element name="SpecimenOrderId" type="xsd:string" />
			<xsd:element name="SurgicalSpecimenResultId" type="xsd:string" />
			<xsd:element name="NoCharge" type="xsd:boolean" />
			<xsd:element name="Ordered14DaysPostDischarge" type="xsd:boolean" />
			<xsd:element name="BillingDate" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
			<xsd:element name="ModifiedDate" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
			<xsd:element name="SpecimenId" type="xsd:int" />
			<xsd:element name="StainOrderId" type="xsd:int" />
			<xsd:element name="Quantity" type="xsd:int" />
			<xsd:element name="ClientId" type="xsd:int" />
			<xsd:element name="BillingTypeId" type="xsd:int" />
			<xsd:element name="PanelSetId" type="xsd:int" />
			<xsd:element name="TestOrderId" type="xsd:string" />			
			<xsd:element name="CptCode" type="xsd:string" />
			<xsd:element name="Modifier" type="xsd:string" />
			<xsd:element name="Description" type="xsd:string" />
			<xsd:element name="FeeType" type="xsd:string" />
			<xsd:element name="ProfessionalCharge" type="xsd:string" />
			<xsd:element name="PCCharge" type="xsd:string" />
			<xsd:element name="BillingType" type="xsd:string" />
			<xsd:element name="RuleApplied" type="xsd:string" />
			<xsd:element name="CaseType" type="xsd:string" />
			<xsd:element name="PatientType" type="xsd:string" />
			<xsd:element name="PrimaryInsurance" type="xsd:string" />
			<xsd:element name="SecondaryInsurance" type="xsd:string" />
			<xsd:element name="TechnicalCharge" type="xsd:string" />
			<xsd:element name="DateOfService" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
			<xsd:element name="CaseOrigination" type="xsd:string" />
			<xsd:element name="Reversed" type="xsd:boolean" />
			<xsd:element name="Locked" type="xsd:boolean" />
			<xsd:element name="Audited" type="xsd:boolean" />
      <xsd:element name="TechnicalComponentFacilityId" type="xsd:string" />
      <xsd:element name="ProfessionalComponentFacilityId" type="xsd:string" />
    </xsd:sequence>
	</xsd:complexType>

  <xsd:element name="CptIcd9BillingCode" type="CptIcd9BillingCodeType" ms:relation="tblCptIcd9BillingCode" ms:key-fields="CptIcd9BillingCodeId" />
  <xsd:complexType name="CptIcd9BillingCodeType">
    <xsd:sequence>
      <xsd:element name="CptIcd9BillingCodeId" type="xsd:int" ms:identity="ignore" />
      <xsd:element name="MasterAccessionNo" type="xsd:string" />
      <xsd:element name="CptBillingCodeId" type="xsd:int" />
      <xsd:element name="Icd9BillingCodeId" type="xsd:string" />      
    </xsd:sequence>
  </xsd:complexType>

	<xsd:complexType name="SurgicalResultAuditItemCollectionType">
		<xsd:sequence>
			<xsd:element name="SurgicalResultAuditItem" type="SurgicalResultAuditItemType" ms:relation="tblSurgicalResultAudit" ms:relationship="SurgicalResultSurgicalResultAudit" ms:key-fields="SurgicalResultAuditId" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="SurgicalResultAuditItem" type="SurgicalResultAuditItemType" ms:relation="tblSurgicalResultAudit" ms:key-fields="SurgicalResultAuditId" />
	<xsd:complexType name="SurgicalResultAuditItemType">
		<xsd:sequence>
			<xsd:element name="SurgicalResultAuditId" type="xsd:string" />
			<xsd:element name="SurgicalResultId" type="xsd:string" />
			<xsd:element name="Final" type="xsd:boolean" />
			<xsd:element name="Published" type="xsd:boolean" />
			<xsd:element name="PapCorrelationRequired" type="xsd:boolean" />
			<xsd:element name="ReportableCase" type="xsd:boolean" />
			<xsd:element name="PQRIRequired" type="xsd:boolean" />
			<xsd:element name="FinalDate" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
			<xsd:element name="FinalTime" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
			<xsd:element name="PublishedTime" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
			<xsd:element name="AmendmentId" type="xsd:string" />
			<xsd:element name="PanelSetResultOrderId" type="xsd:string" />
			<xsd:element name="PhysicianId" type="xsd:int" />
			<xsd:element name="PathologistId" type="xsd:int" />
			<xsd:element name="ImmediateCorrelation" type="xsd:int" />
			<xsd:element name="PapCorrelation" type="xsd:int" />
			<xsd:element name="PQRIInstructions" type="xsd:int" />
			<xsd:element name="ClinicalInfo" type="xsd:string" ms:datatype="ntext" />
			<xsd:element name="GrossX" type="xsd:string" ms:datatype="ntext" />
			<xsd:element name="ImmediateX" type="xsd:string" ms:datatype="ntext" />
			<xsd:element name="MicroscopicX" type="xsd:string" ms:datatype="ntext" />
			<xsd:element name="Comment" type="xsd:string" ms:datatype="ntext" />
			<xsd:element name="CancerSummary" type="xsd:string" ms:datatype="ntext" />
			<xsd:element name="Status" type="xsd:string" />
			<xsd:element name="CaseType" type="xsd:string" />
			<xsd:element name="ImmunoComment" type="xsd:string" />
			<xsd:element name="LocumPerformedForInitials" type="xsd:string" />
			<xsd:element name="AJCCStage" type="xsd:string" />
			<xsd:element name="ImmediateCorrelationComment" type="xsd:string" />
			<xsd:element name="PapCorrelationComment" type="xsd:string" />
			<xsd:element name="PapCorrelationAccessionNo" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="SurgicalSpecimenResultAuditItemCollectionType">
		<xsd:sequence>
			<xsd:element name="SurgicalSpecimenResultAuditItem" type="SurgicalSpecimenResultAuditItemType" ms:relation="tblSurgicalSpecimenResultAudit" ms:relationship="SurgicalResultAuditSurgicalSpecimenResultAudit" ms:key-fields="SurgicalSpecimenResultAuditId" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="SurgicalSpecimenResultAuditItem" type="SurgicalSpecimenResultAuditItemType" ms:relation="tblSurgicalSpecimenResultAudit" ms:key-fields="SurgicalSpecimenResultAuditId" />
	<xsd:complexType name="SurgicalSpecimenResultAuditItemType">
		<xsd:sequence>
			<xsd:element name="SurgicalSpecimenResultAuditId" type="xsd:string" />
			<xsd:element name="SurgicalResultAuditId" type="xsd:string" />
			<xsd:element name="Report" type="xsd:boolean" />
			<xsd:element name="ImmediatePerformed" type="xsd:boolean" />
			<xsd:element name="ImmediateStartTime" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
			<xsd:element name="ImmediateEndTime" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
			<xsd:element name="AmendmentId" type="xsd:string" />
			<xsd:element name="SurgicalSpecimenResultId" type="xsd:string" />
			<xsd:element name="SurgicalResultId" type="xsd:string" />
			<xsd:element name="SpecimenOrderId" type="xsd:string" />
			<xsd:element name="DiagnosisId" type="xsd:int" />
			<xsd:element name="ImmediateCorrelation" type="xsd:int" />
			<xsd:element name="ImmediatePerformedById" type="xsd:int" />
			<xsd:element name="Diagnosis" type="xsd:string" ms:datatype="ntext" />
			<xsd:element name="SpecimenType" type="xsd:string" />
			<xsd:element name="RescreenStatus" type="xsd:string" />
			<xsd:element name="ImmediatePerformedBy" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="SurgicalBillingItem" type="SurgicalBillingItemType" ms:relation="tblSurgicalBilling" ms:key-fields="ReportNo" />
	<xsd:complexType name="SurgicalBillingItemType">
		<xsd:sequence>
			<xsd:element name="ReportNo" type="xsd:string" />
			<xsd:element name="Locked" type="xsd:boolean" />
			<xsd:element name="Levels" type="xsd:int" />
			<xsd:element name="Blocks" type="xsd:int" />
			<xsd:element name="Slides" type="xsd:int" />
			<xsd:element name="SpecialStains" type="xsd:int" />
			<xsd:element name="Immuno" type="xsd:int" />
			<xsd:element name="WrightStain" type="xsd:int" />
			<xsd:element name="PapStain" type="xsd:int" />
			<xsd:element name="ThinPrep" type="xsd:int" />
			<xsd:element name="Decal" type="xsd:int" />
			<xsd:element name="HistoTech" type="xsd:string" />
			<xsd:element name="AccessionDate" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="Her2Result" type="Her2ResultType" ms:relation="tblHer2Result" ms:relationship="PanelSetResultHer2Result" ms:key-fields="Her2ResultId" />
	<xsd:complexType name="Her2ResultType">
		<xsd:sequence>
			<xsd:element name="Her2ResultId" type="xsd:int" ms:identity="ignore" />
			<xsd:element name="PanelSetResultOrderId" type="xsd:string" />
			<xsd:element name="IncludeImmunoRecommendedComment" type="xsd:boolean" />
			<xsd:element name="IncludeResultComment" type="xsd:boolean" />
			<xsd:element name="IncludePolysomyComment" type="xsd:boolean" />
			<xsd:element name="CellsCounted" type="xsd:int" />
			<xsd:element name="TotalChr17SignalsCounted" type="xsd:int" />
			<xsd:element name="TotalHer2SignalsCounted" type="xsd:int" />
			<xsd:element name="Her2byIHCOrder" type="xsd:int" />
			<xsd:element name="NumberOfObservers" type="xsd:int" />
			<xsd:element name="Result" type="xsd:string" />
			<xsd:element name="PolysomyPercent" type="xsd:string" />
			<xsd:element name="Chr17SignalRangeLow" type="xsd:string" />
			<xsd:element name="Chr17SignalRangeHigh" type="xsd:string" />
			<xsd:element name="Her2SignalRangeLow" type="xsd:string" />
			<xsd:element name="Her2SignalRangeHigh" type="xsd:string" />
			<xsd:element name="CommentLabel" type="xsd:string" />
			<xsd:element name="ResultDescription" type="xsd:string" />
			<xsd:element name="ReportNo" type="xsd:string" />
			<xsd:element name="SampleAdequacy" type="xsd:string" />
			<xsd:element name="ProbeSignalIntensity" type="xsd:string" />
			<xsd:element name="TechComment" type="xsd:string" />
			<xsd:element name="ResultComment" type="xsd:string" />
			<xsd:element name="InterpretiveComment" type="xsd:string" />
			<xsd:element name="GeneticHeterogeneity" type="xsd:string" />
			<xsd:element name="Her2Chr17ClusterRatio" type="xsd:string" />
			<xsd:element name="ReportReference" type="xsd:string" />
			<xsd:element name="SourceBlock" type="xsd:string" />
			<xsd:element name="Indicator" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="FishResultItem" type="FishResultItemType" ms:relation="tblFishResult" ms:key-fields="ReportNo" />
	<xsd:complexType name="FishResultItemType">
		<xsd:sequence>
			<xsd:element name="ReportNo" type="xsd:string" />
			<xsd:element name="PanelSetResultOrderId" type="xsd:string" />
			<xsd:element name="IncludePolysomyComment" ms:field="includepolysomycomment" type="xsd:boolean" />
			<xsd:element name="IncludeImmunoRecommendedComment" ms:field="includeimmunorecommendedcomment" type="xsd:boolean" />
			<xsd:element name="IncludeResultComment" ms:field="includeresultcomment" type="xsd:boolean" />
			<xsd:element name="Final" ms:field="final" type="xsd:boolean" />
			<xsd:element name="Her2ByIHCOrder" ms:field="her2byihcorder" type="xsd:int" />
			<xsd:element name="NumberOfObservers" type="xsd:int" />
			<xsd:element name="Ratio" ms:field="ratio" type="xsd:string" />
			<xsd:element name="Result" ms:field="result" type="xsd:string" />
			<xsd:element name="ResultDescription" ms:field="resultdescription" type="xsd:string" />
			<xsd:element name="CellsCounted" ms:field="cellscounted" type="xsd:string" />
			<xsd:element name="ResultComment" ms:field="resultcomment" type="xsd:string" />
			<xsd:element name="SampleAdequacy" type="xsd:string" />
			<xsd:element name="ProbeSignalIntensity" type="xsd:string" />
			<xsd:element name="AverageHer2NeuSignal" ms:field="averageher2neusignal" type="xsd:string" />
			<xsd:element name="TimeOfFixation" type="xsd:string" />
			<xsd:element name="FixationComment" type="xsd:string" />
			<xsd:element name="TechComment" type="xsd:string" />
			<xsd:element name="SpecimenFixationType" type="xsd:string" />
			<xsd:element name="TimeToFixation" type="xsd:string" />
			<xsd:element name="ReportComment" ms:field="reportcomment" type="xsd:string" />
			<xsd:element name="PolysomyPercent" ms:field="polysomypercent" type="xsd:string" />
			<xsd:element name="CEPSignals" ms:field="cepsignals" type="xsd:string" />
			<xsd:element name="Her2Signals" ms:field="her2signals" type="xsd:string" />
			<xsd:element name="CommentLabel" ms:field="commentlabel" type="xsd:string" />
			<xsd:element name="AverageCEPSignal" ms:field="averagecepsignal" type="xsd:string" />
			<xsd:element name="SpecimenSite" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="PanelOrderBatch" type="PanelOrderBatchType" ms:relation="tblPanelOrderBatch" ms:key-fields="PanelOrderBatchId" />
	<xsd:complexType name="PanelOrderBatchType">
		<xsd:sequence>
			<xsd:element name="PanelOrderBatchId" type="xsd:int" />
			<xsd:element name="BatchDate" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
			<xsd:element name="RunDate" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
			<xsd:element name="BatchTypeId" type="xsd:int" />
			<xsd:element name="Description" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="CaseDocument" type="CaseDocumentType" ms:relation="tblCaseDocument" ms:key-fields="DocumentId" />
	<xsd:complexType name="CaseDocumentType">
		<xsd:sequence>
			<xsd:element name="DocumentId" type="xsd:string" />
			<xsd:element name="MasterAccessionNo" type="xsd:string" />
			<xsd:element name="ClientOrderId" type="xsd:string" />
			<xsd:element name="Received" type="xsd:boolean" />
			<xsd:element name="Verified" type="xsd:boolean" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="AliquotOrderItemList" type="AliquotOrderListItemType" ms:is-constant="1" />
	<xsd:complexType name="AliquotOrderListItemType">
		<xsd:sequence>
			<xsd:element name="AliquotOrderId"  type="xsd:string" />
			<xsd:element name="SpecimenOrderId"  type="xsd:string" />
			<xsd:element name="AliquotType" type="xsd:string" />
			<xsd:element name="Description" type="xsd:string" />
			<xsd:element name="Label" type="xsd:string" />
			<xsd:element name="LabelPrefix" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="ReportNo" type="ReportNoType" />
	<xsd:complexType name="ReportNoType">
		<xsd:sequence>
			<xsd:element name="Number" type="xsd:string" />
			<xsd:element name="MasterAccessionNo" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="RecentAccessionView" type="RecentAccessionViewType" />
	<xsd:complexType name="RecentAccessionViewType">
		<xsd:sequence>
			<xsd:element name="ReportNo" type="xsd:string" />
			<xsd:element name="MasterAccessionNo" type="xsd:string" />
			<xsd:element name="PFirstName" type="xsd:string" />
			<xsd:element name="PLastName" type="xsd:string" />
			<xsd:element name="AccessionTime" type="xsd:dateTime" ms:datatype="dateTime" />
			<xsd:element name="ClientName" type="xsd:string" />
			<xsd:element name="PhysicianName" type="xsd:string" />
			<xsd:element name="CollectionTime" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="CptBillingCode" type="CptBillingCodeType" ms:relation="tblCptBillingCode" ms:key-fields="CptBillingId" />
	<xsd:complexType name="CptBillingCodeType">
		<xsd:sequence>
			<xsd:annotation>
				<xsd:documentation>LinqColumnAttributeRequired</xsd:documentation>
				<xsd:documentation>LinqDBGeneratedAttributeRequired</xsd:documentation>
			</xsd:annotation>
			<xsd:element name="CptBillingId" type="xsd:string" />
			<xsd:element name="ReportNo" type="xsd:string" />
			<xsd:element name="Code" ms:field="CptCode" type="xsd:string" />
			<xsd:element name="BillingDate" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
			<xsd:element name="Description" type="xsd:string" />
			<xsd:element name="Quantity" type="xsd:int" />
			<xsd:element name="FeeType" type="xsd:string" />
			<xsd:element name="PatientType" type="xsd:string" />
			<xsd:element name="PrimaryInsurance" type="xsd:string" />
			<xsd:element name="SecondaryInsurance" type="xsd:string" />
			<xsd:element name="ClientId" type="xsd:int" />
			<xsd:element name="BillingType" type="xsd:string" />
			<xsd:element name="Ordered14DaysPostDischarge" type="xsd:boolean" />
			<xsd:element name="PanelSetId" type="xsd:int" />
			<xsd:element name="RuleApplied" type="xsd:string" />
			<xsd:element name="SurgicalSpecimenResultId" type="xsd:string" />
			<xsd:element name="SpecimenOrderId" type="xsd:string" />
			<xsd:element name="CaseOrigination" type="xsd:string" />
			<xsd:element name="Locked" type="xsd:boolean" />
			<xsd:element name="ProfessionalCharge" type="xsd:string" />
			<xsd:element name="TechnicalCharge" type="xsd:string" />
			<xsd:element name="DateOfService" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="CptBillingCodeLog" type="CptBillingCodeLogType" ms:relation="tblCptBillingCodeLog" ms:key-fields="CptBillingCodeLogId" />
	<xsd:complexType name="CptBillingCodeLogType">
		<xsd:sequence>
			<xsd:annotation>
				<xsd:documentation>LinqColumnAttributeRequired</xsd:documentation>
				<xsd:documentation>LinqDBGeneratedAttributeRequired</xsd:documentation>
			</xsd:annotation>
			<xsd:element name="CptBillingCodeLogId" type="xsd:int" ms:identity="ignore" />
			<xsd:element name="LogDate" type="xsd:dateTime" ms:datatype="dateTime" />
			<xsd:element name="Handled" type="xsd:boolean" />
			<xsd:element name="CptBillingId" type="xsd:string" />
			<xsd:element name="ReportNo" type="xsd:string" />
			<xsd:element name="Code" ms:field="CptCode" type="xsd:string" />
			<xsd:element name="BillingDate"  type="xsd:dateTime" ms:datatype="dateTime" />
			<xsd:element name="Quantity" type="xsd:int" />
			<xsd:element name="PatientType" type="xsd:string" />
			<xsd:element name="PrimaryInsurance" type="xsd:string" />
			<xsd:element name="SecondaryInsurance" type="xsd:string" />
			<xsd:element name="ClientId" type="xsd:int" />
			<xsd:element name="BillingType" type="xsd:string" />
			<xsd:element name="Ordered14DaysPostDischarge" type="xsd:boolean" />
			<xsd:element name="PanelSetId" type="xsd:int" />
			<xsd:element name="RuleApplied" type="xsd:string" />
			<xsd:element name="SurgicalSpecimenResultId" type="xsd:string" nillable="true" />
			<xsd:element name="SpecimenOrderId" type="xsd:string" />
			<xsd:element name="DateOfService" type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="AutopsyResult" type="AutopsyResultType" ms:relation="tblAutopsyResult" ms:key-fields="AutopsyResultId" />
	<xsd:complexType name="AutopsyResultType">
		<xsd:sequence>
			<xsd:element name="AutopsyResultId" type="xsd:int" ms:identity="ignore" />
			<xsd:element name="PanelSetResultOrderId" type="xsd:string" />
			<xsd:element name="Findings" type="xsd:string" />
			<xsd:element name="CauseOfDeath" type="xsd:string" />
			<xsd:element name="MannerOfDeath" type="xsd:string" />
			<xsd:element name="DateTimeOfDeath"  type="xsd:dateTime" ms:datatype="dateTime" nillable="true" />
			<xsd:element name="LocationOfAutopsy" type="xsd:string" />
			<xsd:element name="RequestingProvider" type="xsd:string" />
			<xsd:element name="AutopsyAssistants" type="xsd:string" />
			<xsd:element name="LimitsOfExamination" type="xsd:string" />
			<xsd:element name="CassetteSummary" type="xsd:string" />
			<xsd:element name="Microscopic" type="xsd:string" />
			<xsd:element name="AncillaryTests" type="xsd:string" />
			<xsd:element name="PlaceOfDeath" type="xsd:string" />
			<xsd:element name="AutopsyLocation" type="xsd:string" />
			<xsd:element name="Diagnosis" type="xsd:string" />
			<xsd:element name="ClinicalHistory" type="xsd:string" />
			<xsd:element name="GrossExamination" type="xsd:string" />
			<xsd:element name="InternalExamination" type="xsd:string" />
			<xsd:element name="ExternalExamination" type="xsd:string" />
			<xsd:element name="MicroscopicExamination" type="xsd:string" />
			<xsd:element name="SummaryComment" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
