DomainPersistence/Schema/CptCodeGroupSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:ms="urn:schemas-microsoft-com:mapping-schema"
			xmlns:sql="urn:schemas-microsoft-com:xml-sql" id="InlineSchema" sql:is-mapping-schema="1">

	<xsd:element name="CptCodeGroup" type="CptCodeGroupType" ms:relation="tblCptCodeGroup" ms:key-fields="CptCodeGroupId" />
	<xsd:complexType name="CptCodeGroupType">
		<xsd:sequence>
			<xsd:element name="CptCodeGroupId" type="xsd:string"></xsd:element>
			<xsd:element name="GroupName" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>