DomainPersistence/Schema/LocalDataSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:ms="urn:schemas-microsoft-com:mapping-schema"
			xmlns:sql="urn:schemas-microsoft-com:xml-sql" id="InlineSchema" sql:is-mapping-schema="1">

	<xsd:element name="OrderComment" type="OrderCommentType" ms:relation="tblOrderComment" ms:key-fields="OrderCommentId"></xsd:element>
	<xsd:complexType name="OrderCommentType">
		<xsd:sequence>
			<xsd:annotation>
				<xsd:documentation>LinqColumnAttributeRequired</xsd:documentation>
			</xsd:annotation>
			<xsd:element name="OrderCommentId" ms:identity="ignore" type="xsd:int" />        
			<xsd:element name="Category" type="xsd:string" />
			<xsd:element name="Action" type="xsd:string" />
			<xsd:element name="Description" type="xsd:string" />
			<xsd:element name="RequiresResponse" type="xsd:boolean"></xsd:element>
			<xsd:element name="RequiresNotification" type="xsd:boolean"></xsd:element>
			<xsd:element name="Response" type="xsd:string"></xsd:element>
			<xsd:element name="NotificationAddress" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="BarcodeScan" type="BarcodeScanType" ms:relation="tblBarcodeScan" ms:key-fields="BarcodeScanId"></xsd:element>
	<xsd:complexType name="BarcodeScanType">
		<xsd:sequence>
			<xsd:element name="BarcodeScanId" ms:identity="ignore" type="xsd:int"></xsd:element>
			<xsd:element name="MasterAccessionNo" type="xsd:string"></xsd:element>
			<xsd:element name="ScanData" type="xsd:string"></xsd:element>        
			<xsd:element name="TimeReceived" type="xsd:dateTime" ms:datatype="dateTime"></xsd:element>
			<xsd:element name="ScannedById" type="xsd:int"></xsd:element>
			<xsd:element name="ScanStationName" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>


	<!--<xsd:element name="UserPreference" type="UserPreferenceType" ms:relation="tblUserPreference" ms:key-fields="UserPreferenceId" />
	<xsd:complexType name="UserPreferenceType">
		<xsd:sequence>
			<xsd:element name="UserPreferenceId" ms:identity="ignore" type="xsd:int"></xsd:element>
			<xsd:element name="BarcodeScanEnabled" type="xsd:boolean"></xsd:element>
			<xsd:element name="BarcodeScanPort" type="xsd:string"></xsd:element>
			<xsd:element name="LastLocalDataUpdate" type="xsd:dateTime" ms:datatype="dateTime"></xsd:element>
			<xsd:element name="LockMode" type="xsd:string"></xsd:element>
			<xsd:element name="ContainerLabelPrinter" type="xsd:string"></xsd:element>
			<xsd:element name="HistologySlideLabelPrinter" type="xsd:string"></xsd:element>
			<xsd:element name="CytologySlideLabelPrinter" type="xsd:string"></xsd:element>
			<xsd:element name="RequisitionPrinter" type="xsd:string"></xsd:element>
			<xsd:element name="CassettePrinter" type="xsd:string"></xsd:element>
			<xsd:element name="AskIntent" type="xsd:boolean"></xsd:element>
			<xsd:element name="SpecialStainAcknowledgementPrinter" type="xsd:string"></xsd:element>
			<xsd:element name="StartupPage" type="xsd:string"></xsd:element>
			<xsd:element name="MolecularLabelPrinter" type="xsd:string"></xsd:element>
			<xsd:element name="PageScanner" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>-->

	<xsd:element name="BlockSession" type="BlockSessionType" ms:relation="tblBlockSession" ms:key-fields="BlockSessionId"></xsd:element>
	<xsd:complexType name="BlockSessionType">
		<xsd:sequence>
			<xsd:element name="BlockSessionId" ms:identity="ignore" type="xsd:int"></xsd:element>
			<xsd:element name="OpeningAliquotOrderId" type="xsd:int"></xsd:element>
			<xsd:element name="ClosingAliquotOrderId" type="xsd:int"></xsd:element>
			<xsd:element name="ReportNo" type="xsd:string"></xsd:element>
			<xsd:element name="Label" type="xsd:string"></xsd:element>
			<xsd:element name="OpenDate" type="xsd:dateTime" ms:datatype="dateTime"></xsd:element>
			<xsd:element name="CloseDate" type="xsd:dateTime" ms:datatype="dateTime" nillable="true"></xsd:element>
			<xsd:element name="UserId" type="xsd:int"></xsd:element>
			<xsd:element name="UserName" type="xsd:string"></xsd:element>
			<xsd:element name="IsOpen" type="xsd:boolean"></xsd:element>
			<xsd:element name="IsValid" type="xsd:boolean"></xsd:element>
			<xsd:element name="ValidationMessage" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="SystemUser" type="SystemUserType" ms:relation="tblSystemUser" ms:key-fields="UserId" />
	<xsd:complexType name="SystemUserType">
		<xsd:sequence>
			<xsd:element name="UserId" ms:identity="ignore" type="xsd:int"></xsd:element>
			<xsd:element name="FirstName" type="xsd:string"></xsd:element>
			<xsd:element name="LastName" type="xsd:string"></xsd:element>
			<xsd:element name="DisplayName" type="xsd:string"></xsd:element>
			<xsd:element name="UserName" type="xsd:string"></xsd:element>
			<xsd:element name="Active" ms:field="active" type="xsd:boolean"></xsd:element>
			<xsd:element name="Signature" type="xsd:string"></xsd:element>
			<xsd:element name="Initials" type="xsd:string"></xsd:element>
      <xsd:element name="NationalProviderId" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="SystemUserRole" type="SystemUserRoleType" ms:relation="tblSystemUserRole" ms:key-fields="UserId" />
	<xsd:complexType name="SystemUserRoleType">
		<xsd:sequence>
			<xsd:element name="SystemUserRoleId" ms:identity="ignore" type="xsd:int"></xsd:element>
			<xsd:element name="UserId" type="xsd:int"></xsd:element>
			<xsd:element name="RoleId" type="xsd:int"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="SystemRole" type="SystemRoleType" ms:relation="tblSystemRole" ms:key-fields="UserId" />
	<xsd:complexType name="SystemRoleType">
		<xsd:sequence>
			<xsd:element name="SystemRoleId" ms:identity="ignore" type="xsd:int"></xsd:element>
			<xsd:element name="RoleName" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="HpvRequisitionInstruction" type="HpvRequisitionInstructionType" ms:relation="tblHpvRequisitionInstructions" ms:key-fields="InstructionId" />
	<xsd:complexType name="HpvRequisitionInstructionType">
		<xsd:sequence>
			<xsd:element name="InstructionId" ms:identity="ignore" type="xsd:int"></xsd:element>
			<xsd:element name="InstructionDescription" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="ScreeningImpression" type="ScreeningImpressionType" ms:relation="tblCytologyScreeningImpression" ms:key-fields="ResultCode" />
	<xsd:complexType name="ScreeningImpressionType">
		<xsd:sequence>
			<xsd:element name="ResultCode" type="xsd:string"></xsd:element>
			<xsd:element name="Description" type="xsd:string"></xsd:element>
			<xsd:element name="Abbreviation" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="SpecimenAdequacy" type="SpecimenAdequacyType" ms:relation="tblSpecimenAdequacy" ms:key-fields="ResultCode" />
	<xsd:complexType name="SpecimenAdequacyType">
		<xsd:sequence>
			<xsd:element name="ResultCode" type="xsd:string"></xsd:element>
			<xsd:element name="Description" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="OtherCondition" type="OtherConditionType" ms:relation="tblCytologyOtherConditions" ms:key-fields="LineID" />
	<xsd:complexType name="OtherConditionType">
		<xsd:sequence>
			<xsd:element name="LineID" ms:identity="ignore" type="xsd:int"></xsd:element>
			<xsd:element name="OtherConditionText" ms:field="OtherCondition" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="CytologyReportComment" type="CytologyReportCommentType" ms:relation="tblCytologyReportComment" ms:key-fields="CommentId" />
	<xsd:complexType name="CytologyReportCommentType">
		<xsd:sequence>
			<xsd:element name="CommentId" ms:field="CommentID" ms:identity="ignore" type="xsd:int"></xsd:element>
			<xsd:element name="Comment" type="xsd:string"></xsd:element>
			<xsd:element name="AbbreviatedComment" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="SpecimenAdequacyComment" type="SpecimenAdequacyCommentType" ms:relation="tblCytologySAComments" ms:key-fields="CommentId" />
	<xsd:complexType name="SpecimenAdequacyCommentType">
		<xsd:sequence>
			<xsd:element name="CommentId" ms:field="CommentID" ms:identity="ignore" type="xsd:int"></xsd:element>
			<xsd:element name="Comment" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="PanelSet" type="PanelSetType" ms:relation="tblPanelSet" ms:key-fields="PanelSetId" />
	<xsd:complexType name="PanelSetType">
		<xsd:sequence>
			<xsd:element name="PanelSetId" ms:identity="ignore" type="xsd:int" />
			<xsd:element name="PanelSetName" type="xsd:string" />
			<xsd:element name="Active" type="xsd:boolean" />
			<xsd:element name="IsMolecular" type="xsd:boolean" />
			<xsd:element name="PathologistSeq" type="xsd:int" />
			<xsd:element name="BatchMode" type="xsd:boolean" />
			<xsd:element name="ColorCoded" type="xsd:boolean" />
			<xsd:element name="ReportTitle" type="xsd:string" />
			<xsd:element name="SurgicalAmendmentRequired" type="xsd:boolean" />
			<xsd:element name="CaseType" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="OrderableTest" type="OrderableTestType" ms:relation="tblOrderableTest" ms:key-fields="OrderableTestId" />
	<xsd:complexType name="OrderableTestType">
		<xsd:sequence>
			<xsd:element name="OrderableTestId" ms:identity="ignore" type="xsd:int"></xsd:element>
			<xsd:element name="TestName" type="xsd:string"></xsd:element>
			<xsd:element name="PanelSetId" type="xsd:int" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="OrderableTestCptCode" type="OrderableTestCptCodeType" ms:relation="tblOrderableTestCptCode" ms:key-fields="OrderableTestCptCodeId" />
	<xsd:complexType name="OrderableTestCptCodeType">
		<xsd:sequence>
			<xsd:element name="OrderableTestCptCodeId" ms:identity="ignore" type="xsd:int"></xsd:element>
			<xsd:element name="OrderableTestId" type="xsd:int"></xsd:element>
			<xsd:element name="CptCode" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="OrderableTestIcd9Code" type="OrderableTestIcd9CodeType" ms:relation="tblOrderableTestIcd9Code" ms:key-fields="OrderableTestIcd9CodeId" />
	<xsd:complexType name="OrderableTestIcd9CodeType">
		<xsd:sequence>
			<xsd:element name="OrderableTestIcd9CodeId" ms:identity="ignore" type="xsd:int"></xsd:element>
			<xsd:element name="OrderableTestId" type="xsd:int"></xsd:element>
			<xsd:element name="Icd9Code" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="CommentListItem" type="CommentListItemType" ms:relation="tblComment" ms:key-fields="CommentId" />
	<xsd:complexType name="CommentListItemType">
		<xsd:sequence>
			<xsd:element name="CommentId" ms:identity="ignore" type="xsd:int"></xsd:element>
			<xsd:element name="Description" type="xsd:string"></xsd:element>
			<xsd:element name="Comment" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="CptCode" type="CptCodeType" ms:relation="tblCptCode" ms:key-fields="CptCodeId" />
	<xsd:complexType name="CptCodeType">
		<xsd:sequence>
			<xsd:annotation>
				<xsd:documentation>LinqColumnAttributeRequired</xsd:documentation>
				<xsd:documentation>LinqDBGeneratedAttributeRequired</xsd:documentation>
			</xsd:annotation>
			<xsd:element name="CptCodeId" ms:identity="ignore" type="xsd:int" />
			<xsd:element name="Code" ms:field="CPTCode" type="xsd:string" />
			<xsd:element name="FeeSchedule" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="StainTest" type="StainTestType" ms:relation="tblStainTest" ms:key-fields="StainTestId" />
	<xsd:complexType name="StainTestType">
		<xsd:sequence>
			<xsd:element name="StainTestId" type="xsd:int" ms:identity="ignore" />
			<xsd:element name="TestId" type="xsd:int" />
			<xsd:element name="CptCode" type="xsd:string" />
			<xsd:element name="CptCodeQuantity" type="xsd:int" />
			<xsd:element name="ImmunoCommentId" type="xsd:int" />
			<xsd:element name="ControlComment" type="xsd:string" />
			<xsd:element name="StainType" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="ImmunoComment" type="ImmunoCommentType" ms:relation="tblImmunoComment" ms:key-fields="immunoCommentId" />
	<xsd:complexType name="ImmunoCommentType">
		<xsd:sequence>
			<xsd:element name="ImmunoCommentId" ms:field="immunocommentid" type="xsd:int" ms:identity="ignore" />
			<xsd:element name="Comment" ms:field="immunocomment" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="Test" type="TestType" ms:relation="tblTest" ms:key-fields="TestId" />
	<xsd:complexType name="TestType">
		<xsd:sequence>
			<xsd:element name="TestId" type="xsd:int" ms:identity="ignore" />
			<xsd:element name="TestName" type="xsd:string" />
			<xsd:element name="Abbreviation" type="xsd:string" />
			<xsd:element name="Active" type="xsd:boolean" />
			<xsd:element name="ReportLabel" type="xsd:string" />
			<xsd:element name="StainResultGroupId" type="xsd:int" />
			<xsd:element name="AliquotType" type="xsd:string" />
			<xsd:element name="NeedsAcknowledgement" type="xsd:boolean" />
			<xsd:element name="DefaultResult" type="xsd:string" />
			<xsd:element name="RequestForAdditionalReport" type="xsd:boolean" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="ResultItem" type="ResultItemType" ms:relation="tblResult" ms:key-fields="ResultId" />
	<xsd:complexType name="ResultItemType">
		<xsd:sequence>
			<xsd:element name="ResultId" type="xsd:int" ms:identity="ignore" />
			<xsd:element name="Result" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="MaterialLocation" type="MaterialLocationType" ms:relation="tblMaterialLocation" ms:key-fields="MaterialLocationId" />
	<xsd:complexType name="MaterialLocationType">
		<xsd:sequence>
			<xsd:element name="MaterialLocationId" type="xsd:int" ms:identity="ignore" />
			<xsd:element name="Name" type="xsd:string" />
			<xsd:element name="Address" type="xsd:string" />
			<xsd:element name="City" type="xsd:string" />
			<xsd:element name="State" type="xsd:string" />
			<xsd:element name="Zip" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>