DomainPersistence/Schema/AccessionOrder/ReportNoSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:ms="urn:schemas-microsoft-com:mapping-schema"
			xmlns:sql="urn:schemas-microsoft-com:xml-sql" id="InlineSchema" sql:is-mapping-schema="1">

	<xsd:element name="ReportNo" type="ReportNoType" />
	<xsd:complexType name="ReportNoType">
		<xsd:sequence>
			<xsd:element name="Number" type="xsd:string" />
			<xsd:element name="MasterAccessionNo" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>