DomainPersistence/Schema/SingleItemSchema/SystemRole.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:ms="urn:schemas-microsoft-com:mapping-schema"
			xmlns:sql="urn:schemas-microsoft-com:xml-sql" id="InlineSchema" sql:is-mapping-schema="1">

	<xsd:complexType name="SystemRole" ms:relation="tblSystemRole" ms:key-fields="UserId">
		<xsd:sequence>
			<xsd:element name="SystemRoleId" ms:identity="ignore" type="xsd:int"></xsd:element>
			<xsd:element name="RoleName" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
